// Color variables
$grisFosc: #555;
$grisMig: #aaa;
$grisClar: #eee;

// Parts comunes
h1,
h2,
h3,
h4,
h5,
p {
    color: $grisFosc;
}

a {
    color: $grisFosc;

    &:hover {
        color: $grisFosc;
        text-decoration: none;
    }
}

// HEADER
#contLogoSearch {
    margin: auto;
    max-width: 960px;

    #busquedas {
        width: 100%;
        max-width: 400px;
    }

    input[type="text"] {
        border-radius: 50px;
    }
}

#capsulas {
    margin: auto;
    max-width: 960px;

    a {
        width: 16%;
        min-width: 100px;
        padding: 10px;
        text-align: center;
        border-radius: 50px;

        &:hover {
            background-color: $grisClar;
        }
    }
}

// MAIN
a {
    &.caixaGenerica {
        box-model: border-box;
        border: .5rem solid transparent;
        background-clip: padding-box;
        height: 200px;
        border-radius: 16px;
        background-color: rgb(201, 201, 201);
    }

    &.anunci {
        background-color: $grisMig;
    }

    &.categoria {
        background-color: $grisClar;
    }
}

.noPM {
    padding: 0;
    margin: 0;
    text-align: center;
}

// COLUMNA DRETA
#loginAdmin {
    height: 70px;
    border-radius: 100px;

    #iconBox {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background: #fff;
    }
    #userBox {
        height: auto;
        width: 30%;
    }
    #logBox {
        width: 60px;
        height: 60px;
        border: 2px solid #fff;
        border-radius: 50px;
    }
}